.LoginForm
{
    width:160px;
    height:180px;
    /*border:1px solid;*/
    margin-left: auto;
    margin-right: auto;
}

.text-form
{
    width:156px;
    height:30px;
    /*border:1px solid;*/
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.top-space  {   margin-top: 60px;   }

.title-lg,.title-md,.title-nm,
.title-sm,.title-ty,.title-hg
{
	height:30px;
	/*border:1px solid;*/
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.title-hg{	width:340px;}
.title-lg{	width:302px; height:50px; }
.title-md{	width:264px; }
.title-nm{  width:216px; }
.title-sm{	width:186px; }
.title-ty{	width:102px; }

.alreadyWork
{
	width:280px;
	height:30px;
	/*border:1px solid;*/
	margin-top:150px;
	margin-left: auto;
	margin-right: auto;
}

.content
{
	width:210px;
	height:200px;
	/*border:1px solid;*/
	margin-top:15px;
	margin-left: auto;
	margin-right: auto;
}

.content-hg
{
	width:256px;
	margin-top:20px;
	margin-bottom: 25px;
	/* border:1px solid;*/
	margin-left: auto;
	margin-right: auto;
}

.content-lg, .content-md,
.content-sm, .content-ty,
.content-ng
{
	width:210px;
	/*border:1px solid;*/
	margin-left: auto;
	margin-right: auto;
}

.content-lg
{	
	height:100px;
	margin-top:15px;
}

.content-md
{
	height:120px;
	margin-top:15px;
}


.content-sm
{
	height:50px;
	margin-top:5px;
}

.content-ty
{
	height:28px;
	margin-top:5px;
}

.content-ng
{
	text-align: center;
	margin-top:25px;
	margin-bottom: 35px;
}

.content_reg
{
	width:232px;
}

.alreadyCont
{
	width:200px;
	height:50px;
	/*border:1px solid;*/
	margin-top:15px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:15px;
}

.reg_link
{
	font-size:60%;
	margin-top: 25px;
	width:180px;
	/*  border:solid 1px;   */
}

.selectContents
{
	width:180px;
	height:94px;
	/* border:1px solid;    */
	margin-right:auto;
	margin-left:auto;
}

/*	テキストフォーム関連	*/
.input-text, .input-text_login
{
	border-radius: 3px;
	border:solid 2px #333333;
	height:20px;
}

.input-text_login {   width:140px; }
.input-text_usercr {	width:150px;    }
.input-text_fln{	width:60px; }

.selectContents
{
	width:180px;
	height:96px;
	/*border:1px solid;*/
	margin-right:auto;
	margin-left:auto;
}

/*	ボタン関連	*/
.button_form, .button_form-md,
.button_form-lg,.button_form-hg,
.alreadyBtn_lg, .alreadyBtn_md,
.alreadyBtn_sm
{
	height:30px;
	/*border:1px solid;*/
	text-align: center;
	margin-top:20px;
	margin-left: auto;
	margin-right: auto;
}

.button_form{ width:110px; }
.button_form-hg{ width:200px; }
.button_form-lg{ width:180px; }
.button_form-md{ width:154px; }
.alreadyBtn_lg{ width:132px; }
.alreadyBtn_md{ width:86px; }
.alreadyBtn_sm{ width:52px; }

/*	セレクトボックス関連	*/
.text-position1
{
	font-size: 13px;
	margin-top: 15px;
	margin-left: 18px;
}

/* テキストエリア関連	*/
textarea
{
	width:190px;
	height:60px;
	text-decoration: none;

	border-radius: 5px;
	border:solid 2px #333;
	background:none;
}

.mail_work
{
	margin-left:24px;
}
span.textposition
{
	position: relative;
	top:-1px;
}
