body
{
	font-family: sans-serif;
	margin:0;
	padding:0;
}

.attention
{
	display: inline;
	font-size:10%;
	color:#ff0000;
}

.title-lg,.title-md,.title-nm,
.title-sm,.title-ty,.title-hg
{
	height:30px;
	//border:1px solid;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.title-hg{	width:340px; }
.title-lg{	width:302px; }
.title-md{	width:264px; }
.title-nm{  width:200px; }
.title-sm{	width:186px; }
.title-ty{	width:102px; }

.content
{
	width:210px;
	height:200px;
	//border:1px solid;
	margin-top:15px;
	margin-left: auto;
	margin-right: auto;
}

.content-hg
{
	width:256px;
	margin-top:20px;
	margin-bottom: 25px;
	//border:1px solid;
	margin-left: auto;
	margin-right: auto;
}

.content-lg, .content-md,
.content-sm, .content-ty,
.content-ng
{
	//border:1px solid;
	margin-left: auto;
	margin-right: auto;
}

.content-lg
{	
	width:210px;
	height:100px;
	margin-top:15px;
}

.content-md
{
	width:210px;
	height:120px;
	margin-top:15px;
}

.content-sm
{
	width:210px;
	height:50px;
	margin-top:5px;
}

.content-ty
{
	width:210px;
	height:28px;
	margin-top:5px;
}

.content-ng
{
	width:210px;
	text-align: center;
	margin-top:25px;
	margin-bottom: 35px;
}

.content_reg
{
	width:232px;
}

.reg_link
{
	font-size:60%;
	margin-top: 25px;
	width:180px;
	//border:solid 1px;
}

/*	テキストフォーム関連	*/
.input-text, .input-text_login
{
	border-radius: 3px;
	border:solid 2px #333333;
	height:20px;
}

.input-text_login
{
	width:140px;
}

.input-text_usercr
{
	width:150px;
}

.input-text_fln
{
	width:60px;
}

.selectContents
{
	width:180px;
	height:96px;
	//border:1px solid;
	margin-right:auto;
	margin-left:auto;
}


/*	ボタン関連	*/
.button_form, .button_form-md,
.button_form-lg,.button_form-hg,
.alreadyBtn_lg, .alreadyBtn_md,
.alreadyBtn_sm
{
	height:30px;
	//border:1px solid;
	text-align: center;
	margin-top:20px;
	margin-left: auto;
	margin-right: auto;
}

.button_form{ width:110px; }
.button_form-hg{ width:200px; }
.button_form-lg{ width:180px; }
.button_form-md{ width:154px; }
.alreadyBtn_lg{ width:120px; }
.alreadyBtn_md{ width:86px; }
.alreadyBtn_sm{ width:52px;  }

.btn
{
	display:inline-block;
	padding: 0.3em 1em;
	text-decoration: none;
	color: #333333;
	border:solid 2px #333333;
	border-radius:3px;
	transition:.4s;
	background-color: white;
}

.btn:hover
{
	background:#67c5ff;
	color:white;
}

.selectBtn
{
	width:180px;
	height:40px;
	margin-bottom:15px;
	display: inline-block;
	padding: 0.4em 1.5em;
	text-decoration: none;
	color: #333333;
	border:solid 1px #333;
	border-radius: 5px;
	transition: .3s;
	background-color: #f0f8ff;
	font-size: 18px;
	font-weight: 1;
	vertical-align: middle;
}
.selectBtn:hover
{
	background-color: #67c5ff;
	color:white;
}

/*	セレクトボックス関連	*/
.select_ucr
{
	margin-left: 0px;
	width:100px;
	height:28px;
	outline:none;
	text-indent: 0.01px;
	background:none transparent;
	//vertical-align: middle;
	//font-size: inherit;
	font-size: 10px;
	//color: #c0c0c0;
	color:inherit;
	-webkit-appearance:button;
	-moz-appearance:button;
	appearance:button;
	border: solid 2px #333;
	border-radius: 3px;
}

.select_ucr option
{
	background-color: #fff;
	color:#333;
}

.select_ucr::-ms-expand
{
	display: none;
}

.select_ucr:-moz-focusring
{
	color: transparent;
	text-shadow: 0 0 0 #828c9a;
}

/* チェックボックス関連	*/
.check-input
{
	display:none;
}

.check-parts
{
	padding-left:21px;
	position:relative;
	margin-right:-5px;
}

.check-parts::before
{
	content:"";
	display: block;
	position:absolute;
	top:0;
	left:0;
	width:15px;
	height:15px;
	border:	2px solid #333;
	border-radius: 4px;
}

.check-input:checked + .check-parts
{
	color:#333;
}

.check-input:checked + .check-parts::after
{
	content:"";
	display: block;
	position:absolute;
	top:-5px;
	left:5px;
	width:7px;
	height:14px;
	transform:rotate(40deg);
	border-bottom:3px solid #333;
	border-right:3px solid #333;
}

.text-position1
{
	font-size: 13px;
	margin-top: 15px;
	margin-left: 18px;
}

.mail_position
{
	content: "\A" ;
	white-space: pre ;
}

.mail_work
{
	margin-left:18px;
}

/* テキストエリア関連	*/
textarea
{
	width:190px;
	height:60px;
	text-decoration: none;

	border-radius: 5px;
	border:solid 2px #333;
	background:none;
}
