/*	テキストフォーム関連	*/
.input-text, .input-text_login
{
	border-radius: 3px;
	border:solid 1px #333333;
	height:20px;
}

.input-text_usercr	{	width:150px;	}

/*  ボタン  */
.btn
{
	display:inline-block;
	padding: 0.3em 1em;
	text-decoration: none;
	color: #333333;
	border:solid 1px #333333;
	border-radius:3px;
	transition:.4s;
	background-color: white;
}

.btn:hover
{
	background:#67c5ff;
	color:white;
}

/* セレクトボックス */
.selectBtn
{
	width:180px;
	height:40px;
	margin-bottom:15px;
	display: inline-block;
	padding: 0.3em 1.5em;
	text-decoration: none;
	color: #333333;
	border:solid 1px #333;
	border-radius: 5px;
	transition: .3s;
	background-color: #f0f8ff;
	font-size: 18px;
	font-weight: 1;
}
.selectBtn:hover
{
	background-color: #67c5ff;
	color:white;
}

.select_ucr
{
	margin-left: 0px;
	width:100px;
	height:28px;
	outline:none;
	text-indent: 0.01px;
	background:none transparent;
	/*vertical-align: middle;*/
	/*font-size: inherit;*/
	font-size: 10px;
	/*color: #c0c0c0;*/
	color:inherit;
	-webkit-appearance:button;
	-moz-appearance:button;
	appearance:button;
	border: solid 1px #333;
	border-radius: 3px;
}

.select_ucr option
{
	background-color: #fff;
	color:#333;
}

.select_ucr::-ms-expand
{
	display: none;
}

.select_ucr:-moz-focusring
{
	color: transparent;
	text-shadow: 0 0 0 #828c9a;
}
/*  テキストエリア  */


/*	その他	*/
.alreadyBar
{
	width:280px;
	height:30px;
	background-color:#000;
	margin-right:auto;
	margin-left: auto;
	margin-bottom: 18px;
}

div[class^="title-"]
{
	font-weight: bold;
}

.mng_sunday
{
	text-align:right;
	background-color: #ffe5e5;
	white-space: nowrap;
}

.mng_saturday
{
	text-align:right;
	background-color: #e5e5ff;
	white-space: nowrap;
}
